
/*Rotate animations*/
@-webkit-keyframes rotate {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes rotate {
	0% { -moz-transform: rotate(0deg); }
	100% { -moz-transform: rotate(360deg); }
}
@keyframes rotate {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
@-webkit-keyframes blink {
	50% { border-top-color: #465259; }
}
@-moz-keyframes blink {
	50% { border-top-color: #465259; }
}
@keyframes blink {
	50% { border-top-color: #465259; }
}

/*Spinner*/
.loading-spinner {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-transition: color 200ms;
	-moz-transition: color 200ms;
	-ms-transition: color 200ms;
	transition: color 200ms;

	display: inline-block;
	width: 1em;
	height: 1em;
	border-width: 2px;
	border-radius: 50%;
	border-color: transparent;
}
	.confs .active .loading-spinner {
		border-top-color: #fff;
		-webkit-animation:
			rotate 1.5s infinite cubic-bezier(0.455, 0.030, 0.515, 0.955),
			blink 4s infinite cubic-bezier(0.455, 0.030, 0.515, 0.955);
		-moz-animation:
			rotate 1.5s infinite cubic-bezier(0.455, 0.030, 0.515, 0.955),
			blink 4s infinite cubic-bezier(0.455, 0.030, 0.515, 0.955);
		-ms-animation:
			rotate 1.5s infinite cubic-bezier(0.455, 0.030, 0.515, 0.955),
			blink 4s infinite cubic-bezier(0.455, 0.030, 0.515, 0.955);
		animation:
			rotate 1.5s infinite cubic-bezier(0.455, 0.030, 0.515, 0.955),
			blink 4s infinite cubic-bezier(0.455, 0.030, 0.515, 0.955);
	}



/*Layout*/
body {
	margin-left: auto;
	margin-right: auto;

	font-family: "Helvetica Neue", "Helvetica", "Lucida Grande", sans-serif;
	background-color: #fafafa;
	color: #373f45;
	font-weight: 200;
	line-height: 1.6;
}



/*Defaults*/
.loaded a,
.loaded input,
.loaded .transition {
	transition-property: background-color, color, box-shadow, border-color;
	transition: 150ms;
}

.hidden {
	display: none;
}

.clear {
	clear: both;
}

.inverted {
	background-color: #1e2326;
	color: #fafafa;
}



/*Forms*/
input, textarea {
	cursor: pointer;
}
	input:focus, textarea:focus {
		cursor: default;
	}
input[type="text"], textarea {
	border-radius: 3px;
	border-width: 1px;
	border-color: #919699;
	box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.2);
}
	input[type="text"]:hover, textarea:hover {
		box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.5);
	}
	input[type="text"]:focus, textarea:focus {
		outline: 0;
		box-shadow: 0 0.1em 0.9em rgba(0, 0, 0, 0.5);
	}
	::-webkit-input-placeholder {
	    color: #919699;
	}
	:-moz-placeholder {
	    color: #919699;
	    opacity: 1;
	}
	::-moz-placeholder {
	    color: #919699;
	    opacity: 1;
	}
	:-ms-input-placeholder {
	    color: #919699;
	}



/*Typography*/
h1 {
	margin-top: 6%;
	text-transform: uppercase;
	font-weight: 900;
	line-height: 1;
	font-size: 1em;
}
h2 {
	font-size: 1.2em;
	line-height: 1;
	text-transform: uppercase;
	font-weight: inherit;
}
h3 {
	font-size: inherit;
}
h4 {
	font-size: inherit;
	font-weight: inherit;
}
.discreet {
	color: #919699;
}



/*Links*/
a {
	text-decoration: none;
	color: hsl(200, 100%, 45%);
}
a:hover {
	color: hsl(200, 100%, 30%);
}



/*Code*/
h1 code, h2 code, h3 code, h4 code {
	text-transform: none;
}
pre {
}
	pre code {
		display: block;
		overflow: auto;
	}
	pre code.closed {
		overflow: hidden;
		height: 0;
		color: rgba(0, 0, 0, 0.1);
		cursor: pointer;
	}
	code {
		font-size: 0.8em;
	}



/*Configurations*/
.confs {
	position: relative;
}
	.confs .list {
	}
	.confs .list a {
		color: #919699;
		display: block;
		padding: 0.7em 1em 0.3em 1em;
		border-bottom-width: 0.4em;
	}
		.confs .list .selected a {
			background-color: #465259;
			color: inherit;
		}
	.confs .list a:hover, .confs.open .list .selected a {
	}
		.confs.open .list .selected a:hover {
		}

	/*Toggling*/
	.confs .editor {
		background-color: #465259;
		display: none;
	}
		.confs.open .editor {
			display: block;
		}

	/*Selected conf editor*/
	.confs .unavailable input {
		border-color: #d6203e;
	}



/*Stast + tests*/
.results {
}



/*Stats*/
.stats {
	line-height: 1;
}
	.stats ul {
		width: 100%;
	}
	.stats li {
		height: 25%;
		text-align: center;
		padding: 1.5em 0;
		box-shadow: inset 0 0 3em rgba(0, 0, 0, 0.25);
	}
	.stats strong, .stats em {
		display: block;
	}
	.stats strong {
		font-size: 2em;
	}
	.stats em {
		font-style: inherit;
	}

	/*States*/
	.results.failed .stats {
		background-color: #d6203e;
	}
	.results.failed .stats .passed, .results.passed .stats .passed {
		background-color: #6aab35;
	}

	/*2x2 grid*/
	@media handheld,only screen and (max-width: 40em){
		.stats li {
			clear: none;
			float: left;
			width: 50%;
		}
	}

	/*Side panel*/
	@media handheld, only screen and (min-width: 40em) {

	}



/*Results*/
.suites {
}
	.suites .footer {
		padding: 2em;
		color: #919699;
		text-align: center;
	}
.suite {
	border-bottom-width: 1px;
	border-color: #919699;
	padding: 2em 2em;
}
	.suite:hover {
		box-shadow: inset 0 0 3em rgba(0, 0, 0, 0.1);
	}
	.suite .column.fixed {
		width: 5em;
		text-align: right;
	}
	.suite .column.fluid > .column-content {
		margin-right: 6.5em;
	}
	.suite .column.fluid.right > .column-content {
		margin-left: 6.5em;
	}
	.suite h2 {
		font-weight: 100;
		font-size: 2.8em;
		color: #919699;
	}
		.suite.passed h3 {
			color: #6aab35;
		}
		.suite.failed h3 {
			color: #d6203e;
		}
		.suite.skipped h3 {
			color: #919699;
		}

/*Tests*/
.test.skipped {
	color: #919699;
}
