
/*Tools*/
.hidden {
	display: none;
}
.clear {
	clear: both;
}



/*Layout*/
body {
	margin-left: auto;
	margin-right: auto;

	font-family: "Helvetica Neue", "Helvetica", "Lucida Grande", sans-serif;
	background-color: #fafafa;
	color: #373f45;
	font-weight: 200;
	line-height: 1.6;
}

.canvas {
	margin-bottom: 6%;
	padding: 2% 4% 4% 4%;
	border-radius: 3px;
	border: 1px solid #aeb2b5;
	background-color: #fcfcfc;
	box-shadow: 0 0.4em 2em #d2d6d9;
}

a, input {
	transition: 200ms;
}



/*Forms*/
input, textarea {
	cursor: pointer;
}
	input:focus, textarea:focus {
		cursor: default;
	}
input[type="text"], textarea {
	border-radius: 3px;
	border-width: 1px;
	border-color: #aeb2b5;
	background-color: #fcfcfc;
	box-shadow: 0 0.1em 0.4em #d2d6d9;
}
	input[type="text"]:hover, textarea:hover {
		background-color: #fff;
		box-shadow: 0 0.1em 0.4em #aeb2b5;
	}
	input[type="text"]:focus, textarea:focus {
		outline: 0;
		background-color: #fff;
		box-shadow: 0 0.1em 0.9em #aeb2b5;
	}
	::-webkit-input-placeholder {
	    color: #aeb2b5;
	}
	:-moz-placeholder {
	    color: #aeb2b5;
	    opacity: 1;
	}
	::-moz-placeholder {
	    color: #aeb2b5;
	    opacity: 1;
	}
	:-ms-input-placeholder {
	    color: #aeb2b5;
	}



/*Typography*/
h1 {
	margin-top: 6%;
	text-transform: uppercase;
	font-weight: 900;
	line-height: 1.2;
}
h2, h3 {
	font-weight: inherit;
	text-transform: uppercase;
	color: #bbb;
}
.discreet {
	color: #aeb2b5;
	font-size: small;
}



/*Links*/
a {
	transition: color 200ms;
	text-decoration: none;
	color: hsl(200, 100%, 45%);
}
a:hover {
	color: hsl(200, 100%, 30%);
}



/*Code*/
h1 code, h2 code, h3 code, h4 code {
	text-transform: none;
}
pre {
}
	pre code {
		display: block;
		overflow: auto;
	}
	pre code.closed {
		overflow: hidden;
		height: 0;
		color: rgba(0, 0, 0, 0.1);
		cursor: pointer;
	}
	code {
		font-size: 0.8em;
	}



/*Settings*/
.settings .available input {
	border-color: #6aab35;
}
.settings .unavailable input {
	border-color: #d6203e;
}



/*Stats*/
.stats {
	width: 100%;
	line-height: 1.2;
}
	.stats li {
		width: 25%;
		text-align: center;
	}
	.stats strong, .stats em {
		display: block;
	}
	.stats strong {
		font-size: 2em;
	}
	.stats em {
		font-style: inherit;
	}

/*Results*/
.results .suite {
	border-top: 1px dashed #aeb2b5;
	padding: 2em 2em;
	margin: 0 -2em;
}



/*Coloring*/
.red-color, .failed-color {
	color: #d6203e;
}
	.red-background, .failed-background {
		background-color: #d6203e;
	}
	.red-border, .failed-border {
		border-color: #d6203e;
	}
.green-color, .passed-color {
	color: #6aab35;
}
	.green-background, .passed-background {
		background-color: #6aab35;
	}
	.green-border, .passed-border {
		border-color: #6aab35;
	}
.grey-color, .skipped-color {
	color: #aeb2b5;
}
	.grey-background, .skipped-background {
		background-color: #aeb2b5;
	}
	.grey-border, .skipped-border {
		border-color: #aeb2b5;
	}
