
body {
	font-family: sans-serif;
	padding: 2% 6%;
	max-width: 50em;
	margin-left: auto;
	margin-right: auto;
	background-color: #f0f0f0;
	line-height: 1.6;
	color: #444;
}
.hidden {
	display: none;
}
.canvas {
	margin-bottom: 6%;
	padding: 2% 6% 4% 6%;
	border-radius: 3px;
	border: 1px solid #ddd;
	background-color: #fcfcfc;
	box-shadow: 0 0.4em 2em #ddd;
}
h1 {
	margin-top: 6%;
	text-transform: uppercase;
	font-weight: 900;
	color: #ccc;
}
h2, h3 {
	font-weight: 100;
	text-transform: uppercase;
	color: #bbb;
}
h4 {
	border-top: 1px dashed #ddd;
	padding-top: 2em;
}
h1 code, h2 code, h3 code, h4 code {
	text-transform: none;
}
pre {
	padding: 1.9em;
	border: 1px solid #ddd;
	background-color: #fff;
	box-shadow: 0 0.1em 0.6em #eee;
	border-radius: 2px;
	overflow: scroll;
}
pre code {
	display: block;
}
code {
	font-size: 0.8em;
}
a {
	transition: color 200ms;
	text-decoration: none;
	color: hsl(200, 100%, 45%);
}
a:hover {
	color: hsl(200, 100%, 30%);
}
